<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.soomla.SoomlaApp">
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:name="com.soomla.SoomlaApp">
    <activity android:name="com.soomla.store.billing.google.GooglePlayIabService$IabActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    <meta-data android:name="billing.service" android:value="google.GooglePlayIabService" />
  </application>
  <uses-sdk android:minSdkVersion="9" />
</manifest>